*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ABeeZee', sans-serif;
    position: relative;
}

/* NAV BAR */
nav{
    color: white;
    margin-bottom: 3rem;
    
}

.nav-li{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: white;
}

.nav1{
    background-color: #122ab2;
    padding: 10px 0;
   
}

.nav2{
    background-color: #2c70ff;
    padding: 22px 0;
}

.options{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.options li{
    font-size: 1.2rem;
}

.companyName{
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}

/* MENU iCON*/
.menu-icon{
    display: none;
}

.menu{
    font-size: 2rem;
    color: white;
}

/* SIDE BAR */
.side-bar{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f7f7f7;
    width: 25%;
}

.menu-close{
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2rem;
    color: #222221;
    font-size: 2rem;
}

.sidebar-li{
    padding: 0 3rem;
}

.sidebar-li li{
    color: #222221;
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: 4px solid white;
    transition: font-size 0.3s, background-color 0.3s, border-bottom 0.3s;
}

.sidebar-li li:hover{
    background-color: #c0b2b2;
    font-size: 1.5rem;
    border-bottom-color: #978989;
}

/* MAIN */
main{
    width: 70%;
    margin: auto;
    /* margin-bottom: 4rem; */
}

.novos, .Sobre{
    font-size: 1.7rem;
    color: #222221;
}

.main1{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    border-top: 2px solid #080ba4;
    border-bottom: 2px solid #080ba4;
    padding: 4rem 1rem;
    margin-bottom: 4rem;
}

.sobre{
    width: 50%;
}

.sobreImg1{
    width: 23%;
    height: 65vh;
}

.sobreImg2{
    width: 23%;
    height: 33vh;
}

.sobreImg1 img, .sobreImg2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Sobre{
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.sobre p{
    margin-bottom: 1.5rem;
    text-align: justify;
    font-size: 1.2rem;
    color: #222221;
}

/* MAIN2 */
.productos{
    padding-top: 3rem;
    padding-left: 5rem;
}

.main2_images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
}

.purple, .pink, .blue{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.purple img, .pink img, .blue img{
    width: 100%;
    object-fit: cover;
}

.purple img{
    height: 40%;
}

.pink img{
    height: 60%;
}

.blue img{
    height: 50%;
}

.color{
    background-color: #f7f7f7;
    padding: 4rem 0 4rem 1rem;
    color: #a5a4a4;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.colorPurple{
    border-top: 8px solid #ae83f3;
}

.colorPink{
    border-top: 8px solid #fb2a61;
}

.colorBlue{
    border-top: 8px solid #66e9db;
}

/* MAIN TWO */
.mainTwo{
    background-color: #f7f7f7;
    padding: 4rem 0;
    margin-top: 4rem;
}

.mainTwo-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.price-card{
    width: 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cobre{
    text-align: center;
    color: #a5a4a4;
    font-size: 2.5rem;
    letter-spacing: 2px;
    border-bottom: 4px solid white;
    padding-bottom: 10px;
}

.price1, .price2, .price3{
    padding: 3rem;
    border: 4px solid white;
}

.cobre, .prata, .ouro{
    padding-top: 1.6rem;
}

sup{
    font-weight: 600;
    font-size: 1rem;
}

.price{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #1f2021;
    border-bottom: 4px solid white;
    padding: 10px 0;
    margin-bottom: 10px;
}

.mainTwo-li span{
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 100px;
    background-color: #2c70ff;
}

.mainTwo-li li{
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
    color: #817e7d;
    font-weight: bold;
}

.comprar{
    border-radius: none;
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    border: 3px solid #131116;
    color: #141b20;
    padding: 20px 0;
    letter-spacing: 2px;
    cursor: pointer;
}

/* DYNAMIC DIV */

.Qualidade{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.dynamic-div{
    width: 32%;
    margin-bottom: 5rem;
}

.col{
    width: 8px;
    height: 30px;
    display: inline-block;
}

.flex-span{
    display: flex;
}

.Qualidade h2{
    color: #a5a4a4;
    font-size: 2rem;
    padding-left: 8px;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.Qualidade p{
    color: #817e7d;
    font-weight: bold;
    line-height: 1.8rem;
    font-size: 1.2rem;
}

/* MAIN FOUR */
.mainFour{
    background-color: #f7f7f7;
    padding: 4rem 0;
}

.newsContainer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

form{
    border: 4px solid #2c70ff;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c70ff;
    height: 90px;
}

.newsletter h2{
    color: #a5a4a4;
    font-size: 2.6rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.newsletter p{
    font-style: italic;
    font-weight: bold;
    color: #817e7d;
    line-height: 1.5rem;
}

form input{
    width: 60%;
    height: 100%;
    font-style: italic;
    padding-left: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'ABeeZee', sans-serif;
    outline: none;
}

form button{
    width: 40%;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}

/* FOOTER */
footer{
    background-color: #2c70ff;
}

footer p{
    margin: 0 15%;
    color: #122ab2;
    padding: 5rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}