*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Fira Sans Condensed', sans-serif; */
    font-family: 'ABeeZee', sans-serif;
}

/* NAV BAR */

nav{
    color: white;
    margin-bottom: 3rem;
}

ul{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: white;
}

.nav1{
    background-color: #122ab2;
    padding: 10px 0;
   
}

.nav2{
    background-color: #2c70ff;
    padding: 22px 0;
}

.options{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.options li{
    font-size: 1.2rem;
}

.companyName{
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}

/* MAIN */

main{
    width: 70%;
    margin: auto;
}

.novos, .Sobre{
    font-size: 1.7rem;
    color: #222221;
}

.main1{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    border-top: 2px solid #080ba4;
    border-bottom: 2px solid #080ba4;
    padding: 4rem 1rem;
    margin-bottom: 4rem;
}

.sobre{
    width: 50%;
}

.sobreImg1{
    width: 23%;
    height: 65vh;
}

.sobreImg2{
    width: 23%;
    height: 33vh;
}

.sobreImg1 img, .sobreImg2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Sobre{
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.sobre p{
    margin-bottom: 1.5rem;
    text-align: justify;
    font-size: 1.2rem;
    color: #222221;
}

/* MAIN2 */

.main2{
    width: 70%;
    margin: auto;
    /* position: relative; */
    /* height: 78vh; */
    border: 2px solid red;
}

.productos{
    padding-left: 5rem;
}

.main2_images{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
}

.purple, .pink, .blue{
    /* width: 32%; */
    
}

.purple{
    height: 30vh;
    /* position: absolute;
    top: 11rem;
    left: 0;
    bottom: 0; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid red;
    
    
    
}

.pink{
    height: 42vh;
    /* position: absolute;
    right: 34%;
    top: 5rem; */
}

.blue{
    height: 35vh;
    /* position: absolute;
    right: 0;
    bottom: 11.5rem; */
}

.purple img, .pink img, .blue img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.color{
    background-color: #f7f7f7;
    padding: 4rem 0 4rem 1rem;
    color: #a5a4a4;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.colorPurple{
    border-top: 8px solid #ae83f3;
}
.colorPink{
    border-top: 8px solid #fb2a61;
}
.colorBlue{
    border-top: 8px solid #66e9db;
}